In [1]:
%reload_ext autoreload
%autoreload 2

# Initialize the provider + backend

In [5]:
from result_saver import SaverProvider

provider = SaverProvider() # Instead of IBMProvider()
backend = provider.get_backend("ibmq_mumbai") # like the IBMProvider

# (takes a few seconds because needs to connect to the IBM cloud)

# Generate your circuit

In [7]:
from qiskit import QuantumCircuit, transpile

qc = QuantumCircuit(2, 2)
qc.h(0)
qc.cx(0, 1)
qc.measure([0, 1], [0, 1])

transpiled_qc = transpile(qc, backend=backend, initial_layout=[0, 1])

# Submit your job

In [ ]:
from Scratch import metadata_helper

metadata = metadata_helper(num_qubits=2, whatever_info="whatever", blabla="blabla")
job = backend.run(metadata, transpiled_qc, shots = 1, meas_level=1, meas_return='single', job_tags=["test", "test2"])

# Load the metadata and retrieve the job

In [9]:
from Scratch import metadata_loader

md = metadata_loader(_extract=True, _drop_inutile=True)
md

                         creation_date  ... resets
2667  2024-03-11 12:51:17.882000+01:00  ...  False
2666  2024-03-11 12:51:11.681000+01:00  ...  False
2665  2024-03-11 12:51:05.921000+01:00  ...  False
2664  2024-03-11 12:50:59.625000+01:00  ...  False
2663  2024-03-11 12:50:53.619000+01:00  ...  False
...                                ...  ...    ...
17    2023-10-23 18:56:40.188131+02:00  ...    NaN
18    2023-10-23 18:55:40.849527+02:00  ...    NaN
19    2023-10-23 18:54:48.223339+02:00  ...    NaN
20    2023-10-23 18:52:49.801549+02:00  ...    NaN
21    2023-10-23 18:49:33.139925+02:00  ...    NaN

[2668 rows x 24 columns]

In [10]:
job = provider.retrieve_job(md.iloc[0]["job_id"])